# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual Environments
venv/
backend/venv/

# Node
node_modules/
frontend/node_modules/

# Environment Files
.env
.env.*

# Logs
*.log

# Reports
reports/
backend/reports/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Kubernetes
*.kubeconfig

# Sonar
.scannerwork/

# Docker
docker-data/

# Misc
coverage/
dist/
build/